:root {
  --color-white: #FFFFFF;
  --color-black: #000000;
  --color-github-brand: #24292F;
  --color-blue: #54A3FF;

  --color-text-base: var(--color-black);
  --color-text-secondary: var(--color-white);
  --color-background-base: var(--color-white);
  --color-background-panels: var(--color-github-brand);
}
