@import "reset.css";
@import "colors.css";
@import "sizes.css";
@import "typography.css";

body {
  color: var(--color-text-base);
  background: var(--color-background-base);
  transition: color 0.5s, background-color 0.5s;
  font-family: var(--typo-font-family-default);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}